
body{
	background-color: pink;
}
.row {  
  display: -ms-flexbox; 
  display: flex;
  -ms-flex-wrap: wrap; 
  flex-wrap: wrap;
}


.side {
  -ms-flex: 30%;
  flex: 30%;
  padding: 20px;
}


.main {   
  -ms-flex: 70%;
  flex: 70%;
  padding: 20px;
}


.fakeimg {
  width: 100%;
  padding: 20px;
  height:200px;
}


.footer {
  padding: 20px;
  text-align: center;
  
}


@media screen and (max-width: 700px) {
  .row {   
    flex-direction: column;
  }
  
#twarz {
  width: 100%;
  padding: 20px;
  height:200px;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
