html {
    font-family:Helvetica;
}

#header {
    width:100%;
}
#header-left {
    background-color:rgb(130,69,85);
    color:white;
    height:200px;
    width:30%;
    text-align:center;
    float:left;
}

#left {
    background-color:rgb(130,69,85);
    color:white;
    height:200px;
    width:30%;      
    text-align:center;
    float:left;
}

#header-right {
    background-color:rgb(130,69,85);
    color:white;
    height:200px;
    width:70%;
    text-align:center;
    float:left;
    margin-left:center;
    margin-right:center;
}

#right {
    background-color:rgb(130,69,85);
    color:white;
    height:200px;
    width:70%;
    text-align:center;
    float:left;
    margin-left:center;
    margin-right:center;
}

#main {
    background-color:rgb(240,234,226);
    margin-inline:120px;
    clear:both;
}

#footer {
    margin-inline:120px;
    background-color:rgb(240,234,226);
}

table {
    border:1px;
    border-style:solid;
    border-color:rgb(130,69,85);
    color:rgb(130,69,85);
    margin-inline:10px;
    margin-left:auto;
    margin-right:auto;
    border-collapse: collapse;
  }
  table td, table th {
    border: 1px;
    border-style: solid;
    border-color:rgb(130,69,85);
    color:rgb(130,69,85);
    padding: 10px;
  }

#car {
    height:200px;
}

#kwerenda {
    color:rgb(240,234,226);
}